---
:Objects:
  :Platforms:
  - - 593
    - 126
    - media/dirtblocks.png
  - - 759
    - 739
    - media/dirtblocks.png
  - - 912
    - 67
    - media/dirtblocks.png
  - - 677
    - 371
    - media/dirtblocks.png
  - - 172
    - 578
    - media/dirtblocks.png
  - - 751
    - 406
    - media/dirtblocks.png
  - - 326
    - 463
    - media/dirtblocks.png
  - - 128
    - 356
    - media/dirtblocks.png
  - - 933
    - 391
    - media/dirtblocks.png
  - - 373
    - 141
    - media/dirtblocks.png
  - - 196
    - 438
    - media/dirtblocks.png
  - - 128.0
    - 193.0
    - media/dirtblocks.png
  - - 275.0
    - 724.0
    - media/dirtblocks.png
  - - 431.0
    - 678.0
    - media/dirtblocks.png
  - - 548.3186688765745
    - 495.0
    - media/dirtblocks.png
  - - 248.0
    - 282.10000000149034
    - media/dirtblocks.png
  - - 478.39642359927205
    - 599.0
    - media/dirtblocks.png
  - - 63.0
    - 153.0
    - media/dirtblocks.png
  - - 1.0
    - 116.0
    - media/dirtblocks.png
:Meta: {}
