---
:Objects:
  :Platforms:
  - - 593
    - 126
    - dirtblocks.png
  - - 759
    - 739
    - dirtblocks.png
  - - 912
    - 67
    - dirtblocks.png
  - - 172
    - 578
    - dirtblocks.png
  - - 751
    - 406
    - dirtblocks.png
  - - 326
    - 463
    - dirtblocks.png
  - - 128
    - 356
    - dirtblocks.png
  - - 933
    - 391
    - dirtblocks.png
  - - 373
    - 141
    - dirtblocks.png
  - - 196
    - 438
    - dirtblocks.png
  - - 128.0
    - 193.0
    - dirtblocks.png
  - - 275.0
    - 724.0
    - dirtblocks.png
  - - 431.0
    - 678.0
    - dirtblocks.png
  - - 548.3186688765745
    - 495.0
    - dirtblocks.png
  - - 248.0
    - 282.10000000149034
    - dirtblocks.png
  - - 478.39642359927205
    - 599.0
    - dirtblocks.png
  - - 63.0
    - 153.0
    - dirtblocks.png
  - - 1.0
    - 116.0
    - dirtblocks.png
  - - 660.0
    - 622.0
    - dirtblocks.png
  - - 688.9710950970251
    - 396.0
    - dirtblocks.png
  :Backgrounds:
  - - 0
    - 0
    - background.png
    - 1
  - - 200
    - 400
    - vine.png
    - 2
:Meta: {}
